
.hero {
  background-color: #f4f4f4;
  width: 100%; height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;


  position: relative;


  h1 {
    // background-color: red;
    width: 65%;
    text-align: center;
    margin: 0;
    // padding-top: 40px;
  }
  p {
    // background-color: green;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
    margin: 25px 0px;
  }
  button {
    color: #fff;
    background: rgb(255,121,218);
    background: linear-gradient(172deg, rgba(255,121,218,1) 21%, rgba(147,86,220,1) 95%);
    border-radius: 50px;
    width: 240px;
    padding: 25px;
    text-decoration: none;
    border:none;
  }
}

