.restaurants {
  background-color: #fff;
  width: 100%;
  height: auto;

  &__cards {
    // background-color: red;
    width: 100%;
    height: auto;
display: flex;
    // &__card {
      //   background-color: violet;
      //   width: 100%;
      //   height: 50px;
      // }

      .restaurantsCard {
        @include restaurant_Card;
        margin: 25px;

        a {
          text-decoration: none;
          color: inherit;

          .restaurantsCard__zone-image {
            // background-color: blue;
            width: 100%;
            height: 70%;
            border-radius: 20px 20px 0px 0px;

            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 25px 25px 0px 0px;
            }
            .nouveau {
              background-color: $color-tertiaire;
              color:green;
              width: 100px; height: auto;

              position: absolute;
              top:15px;
              right: 15px;
              text-align: center;

              padding: 6px;
              border-radius: 2px;
              font-weight: 500;
            }
          }
          .restaurantsCard__zone-description {
            background-color: #fff;
            width: 100%;
            height: 30%;
            display: flex;
            border-radius: 0px 0px 20px 20px;
            &__txt {
              // background-color: orange;
              width: 80%;
              display: flex;
              flex-direction: column;
              justify-content:  center;
              h3 {
                text-transform: capitalize;
              }
              p {
                font-size: 20px;
              }
            }

            &__icone {
              // background-color: blue;
              width: 20%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              position: relative;

              // i:hover {
                //   color: rgb(147,86,220);
                //
                // }






                i {
                  position: absolute;
                }
                i:nth-child(1) {
                  background-color: #fff;
                  z-index: 20;
                }
                i:nth-child(2) {
                  z-index: 10;
                    color: rgb(147,86,220);

                }
                i:nth-child(1):hover {
z-index: 5;
                }








              }
            }
          }
        }
      }
    }
